<div class="card">
    <div class="card-header d-flex justify-content-between" id="heading-{{ingredient-id}}" data-toggle="collapse"
        data-target="#collapse-{{ingredient-id}}" aria-expanded="false" aria-controls="collapse-{{ingredient-id}}">
        <span class="mb-0" style="color: {{text-color}}">
            {{name}}
        </span>
        <div>
            {{!-- Trash icon  --}}
            ​ <i class="fas fa-trash-alt fa-lg"></i>
        </div>
    </div>
</div>