<li class="sale-block list-group-item d-flex justify-content-between align-items-center" data-id="{{id}}" data-date="{{}}" data-total="{{}}">
        <strong>Recipe Name{{id}}</strong> <span class="text-muted">{{recipe_data}}}</span>
        <span class="badge badge-success badge-pill">${{recipe_data}}}</span>
    <button class="btn btn-dark" data-id="{{this.id}}">Recipe</button>
  </li>

<div class="card">
    <div class="card-body" id="recipe List ">
        
    </div>
</div>