<div class="card">
    <div class="card-header d-flex justify-content-between" id="heading-{{id}}" data-toggle="collapse"
        data-target="#collapse-{{id}}" aria-expanded="false" aria-controls="collapse-{{id}}">
        <span class="mb-0">
            {{!-- Ingredient Category name  --}}
            Produce<span class="font-weight-bold">{{id}}</span>
        </span>
        <div>
		    {{!-- Ingredient Category icon --}}
            <i class="fas fa-leaf-oak fa-lg"></i>
            <i class="far fa-meat"></i>
            <i class="far fa-check-square"></i> 
        </div>
    </div>
​
    <div id="collapse-{{id}}" class="collapse" aria-labelledby="heading-{{id}}">
        <div class="card-body">
            {{#if ingredients.length}}
                <div class="accordion">
                    {{#each ingredients}}
                        <div class="card">
                            <div class="card-header d-flex justify-content-between" id="heading-{{ingredientId}}" data-toggle="collapse"
                                data-target="#collapse-{{ingredientId}}" aria-expanded="false" aria-controls="collapse-{{ingredientId}}">
                                <span class="mb-0">
                                    {{name}}
                                </span>
                                <div>
                                    <span class="text-muted font-italic">ID: {{ingredientId}}&nbsp;&nbsp;</span>
									{{!-- Trash icon  --}}
                                      <i class="far fa-check-square"></i>
​                                      <i class="fas fa-trash-alt fa-lg"></i>
                                </div>
                            </div>
                        </div>
​                    {{/each}}
                </div>
            {{/if}}
    
        </div>
    </div>
</div>