{{#if userToken.length}}
<span id="userToken" data-token="{{userToken}}" class="d-none"></span>
{{/if}}
<span id="recipe-url" class="d-none">{{url}}</span>

<div class="row">
    <div class="col-sm-12">
        <div class="card text-center">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span></span>
                <div id="name-block">
                    <h4 id="r-name">
                        {{name}}
                    </h4>
                    <p class="text-muted mb-0" style="font-size: 0.8em">
                        {{cuisine}} | By <span class="text-info">{{author}}</span> on {{createdOn}}
                    </p>
                </div>
                <i data-id={{id}} data-favorite="false" id="favorite-btn" class="text-danger far fa-heart fa-lg"></i>
            </div>

            <div class="card-body">
                <div class="row justify-content-center mb-3">
                    <div class="col-offset-1 col-10 col-md-offset-2 col-md-8">
                        <span class="font-italic text-muted" style="font-size: 0.9em">
                            {{description}}
                        </span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-4" style="border-right: 1px solid gray">
                        <p class="font-weight-bold mb-1 recipe-subTitle" style="font-size: .9em">Servings</p>
                        <p class="mb-0" style="font-size: .8em">
                            {{serving}} servings
                        </p>
                        <i class="text-muted fas fa-utensil-spoon"></i>

                    </div>
                    <div class="col-4" style="border-right: 1px solid gray">
                        <p class="font-weight-bold mb-1 recipe-subTitle" style="font-size: .9em">Prep. Time</p>
                        <p class="mb-0" style="font-size: .8em">
                            {{prep}} min.
                        </p>
                        <i class="text-muted far fa-clock"></i>

                    </div>
                    <div class="col-4">
                        <p class="font-weight-bold mb-1 recipe-subTitle" style="font-size: .9em">Cook Time</p>
                        <p class="mb-0" style="font-size: .8em">
                            {{cook}} min.
                        </p>
                        <i class="text-muted fas fa-fire-alt"></i>
                    </div>
                </div>
                <hr>
                <div class="row" id="ig-block">
                    <div class="col-md-4" id="ig-list">
                        <p class="font-weight-bold recipe-subTitle">
                            Ingredients
                        </p>

                        {{#each ingredients}}

                        <p class="mb-2 ingredient">
                            <span class="font-italic">{{quantity}} {{unit}}</span>
                            <span class="text-success">&nbsp;{{igName}}</span>
                        </p>

                        {{/each}}
                        {{!-- WHISK BLOCK --}}
                        <div id="EGEO-KTCA-DOTE-IIVX" class="mt-5">
                            <script>
                                whisk.queue.push(function () {
                                    whisk.display("EGEO-KTCA-DOTE-IIVX");
                                });
                            </script>
                        </div>
                        <hr class="d-block d-md-none">
                    </div>
                    <div class="col-md-offset-1 col-md-7" id="in-list">
                        <p class="font-weight-bold recipe-subTitle">
                            Instructions
                        </p>
                        <ol>
                            {{#each instructions as |i|}}
                            <li class="mb-2">{{i}}</li>

                            {{/each}}
                        </ol>

                    </div>
                </div>

            </div>

        </div>

    </div>


</div>


<span class="d-none" id="userImage" data-url={{userImage}}></span>

<script src="/js/recipe.js"></script>
<script src="/js/photoSetter.js"></script>